.message_container {
    background-color: var(--grey-darker);
    border-radius: 12px;
    padding: 12px 24px;
    margin-inline: auto;
    width: 90%;
    max-width: 28rem;

    p {
        &:nth-child(1) {
            font-weight: 600;
            font-size: 1.125rem;
            color: var(--white);
            display: flex;
            gap: 10px;
            margin-bottom: 0;
        }
        &:nth-child(2) {
            color: var(--green-lighter);
            font-size: 1rem;
            font-weight: 400;
        }
    }
}
